<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Maven Suite One">
    <!--<parameter name="message" value="from testNG"/>-->
    <test name="TaskTwo">
        <classes>
            <class name="tests.TestDir.SomeTest"/>
        </classes>
    </test>
</suite>